@include media-breakpoint-down(lg) {
  .logo{
    height: 18px;
  }
}

.font-squada{
  font-family: 'Squada One', cursive;
}

.borderNone{
  margin-top:-1px;
  margin-bottom:-1px;
  margin-right:-1px;
  margin-left:-1px;
}

.border-4{
  border: 4px solid $black;
}

.font-vertical{
  writing-mode: vertical-lr;
}
