<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="stylesheet" href="./assets/style/all.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Paytone+One&family=Squada+One&display=swap" rel="stylesheet">
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.8.4/swiper-bundle.min.css"
/>
</head>

<body>
  <div class="wrapper">
    <nav class="navbar navbar-expand-lg bg-light py-0 border-bottom mb-6">
      <div class="container-fluid container-lg navbar-show block px-0">
        <a class="navbar-brand flex-grow-1 py-lg-5 py-3 border-end-lg me-0 ps-md-0 ps-2" href="index.html">
          <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week8-202207/logo.svg"
            alt="logo" class="logo">
        </a>
        <div class="d-flex pe-md-0 pe-2">
          <a class="nav-link py-3 d-lg-none d-block searchBtn" aria-current="page" href="#">
            <i class="fa-solid fa-magnifying-glass"></i>
          </a>
          <button class="navbar-toggler pe-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fa-solid fa-bars d-block"></i>
            <i class="fa-solid fa-x d-none"></i>
          </button>
        </div>
        <div class="collapse navbar-collapse flex-grow-0 text-center border-top border-lg-0" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 px-2">
            <li class="nav-item d-none d-lg-block border-end-lg">
              <form class="d-flex ps-7" role="search">
                <input class="form-control border-0 py-6" type="search" placeholder="搜尋作品名稱、藝術家名稱" aria-label="Search"
                  size="25">
                <a class="nav-link py-6 pe-7" aria-current="page" href="#">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </a>
              </form>
            </li>
            <li class="nav-item border-end-lg">
              <a class="nav-link active  py-lg-6 py-4 px-7 fs-lg-16 fs-18 border-lg-0 border-bottom" aria-current="page"
                href="page.html">探索</a>
            </li>
            <li class="nav-item border-end-lg">
              <a class="nav-link  py-lg-6 py-4 px-7 fs-lg-16 fs-18" href="#">市值</a>
            </li>
            <li class="nav-item d-none d-lg-block">
              <a class="nav-link  py-lg-6 py-4 ps-7" href="#">
                <i class="fa-solid fa-wallet"></i>
              </a>
            </li>
            <li class="nav-item d-lg-none d-block">
              <a class="nav-link" href="#">
                <button type="button" class="btn btn-primary text-white fs-18 py-2 w-100 border-black">連結錢包</button>
              </a>
            </li>
          </ul>

        </div>
      </div>
      <div class="container-fluid navbar-show d-none justify-content-between">
        <div class="d-flex">
          <a type="button" class="align-items-center d-flex nav-link navbar-return">
            <i class="fa-solid fa-angle-left"></i>
          </a>
          <form role="search">
            <input class="form-control border-0 py-3" type="search" placeholder="搜尋作品名稱、藝術家名稱" aria-label="Search"
              size="25">
          </form>
        </div>
        <a class="nav-link py-3" aria-current="page" href="#">
          <i class="fa-solid fa-magnifying-glass"></i>
        </a>
      </div>
    </nav>

    <%- contents %>
  </div>
  <footer class="footer bg-light py-1 text-center border-top">
    <div class="border-4"></div>
    <h6 class="my-4">© ART NFT. All Rights Reserved</h6>
  </footer>

  <script src="./assets/js/vendors.js"></script>
  <script src="https://kit.fontawesome.com/c8f6f260d6.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.8.4/swiper-bundle.min.js"></script>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>